{% extends 'bases/manage.html' %}



{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                  <div class="list-group-item list-group-item-warning">
                     个 人 中 心
                  </div>
                    <a href="{% url 'settings' %}" class="list-group-item settings">我的资料</a>
                    <a href="{% url 'settingsPwd'  %}" class="list-group-item settingsPwd">修改密码</a>
                    <a href="{% url 'settingsDelete' %}" class="list-group-item settingDelete">删除项目</a>
                    <a href="{% url "settingsIssue" %}" class="list-group-item settingIssue">问题类型管理</a>
                    <a href="{% url 'settingsModel' %}" class="list-group-item settingModel">项目模块管理</a>
                </div>
            </div>
            <div class="col-md-9">
                {% block settingsright %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}