{% extends 'bases/manage.html' %}
{% load static %}
{% block css %}
    <style>
    .status{
        margin-bottom: 10px;
    }
    .avatar{
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background-color: darkblue;
            color: whitesmoke;
            position: absolute;
            text-align: center;
            line-height: 40px;
            font-size: 30px;
        }
    </style>
{% endblock %}

{% block issue_count %}{{ issue_count }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-heading"><span class="glyphicon glyphicon-signal" aria-hidden="true"> 新增问题趋势</span></div>
              <div class="panel-body">
                  <div id="charts" style="min-width:400px;height:400px">
                  </div>
              </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                        <div class="panel panel-default">
                          <div class="panel-heading"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"> 问题</span></div>
                          <div class="panel-body">
                              {% for val in status_dic.values %}
                                  <div class="col-md-4 status" style="color: #5bc0de">
                                      {{ val.text }}：{{ val.count }}
                                  </div>
                              {% endfor %}
                          </div>
                        </div>
                </div>
                <div class="col-md-6">
                        <div class="panel panel-default">
                          <div class="panel-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"> 项目成员</span></div>
                          <div class="panel-body clearfix">
                              {% for user in users %}
                                  <div class="clearfix col-md-6" style="height: 40px">
                                      <div class="">
                                            <span class="avatar">{{ user.0 }}</span>
                                            <span style="margin-left: 50px;text-align: center;line-height: 40px;">{{ user }}</span>
                                      </div>
                                  </div>
                              {% endfor %}
                          </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"> 详细</span></div>
              <div class="panel-body">
                  <table class="table">
                    <tbody>
                        <tr>
                            <td class="label-left">项目名称：</td>
                            <td>{{ request.project.name }}</td>
                        </tr>
                        <tr>
                            <td class="label-left">项目描述：</td>
                            <td>{{ request.project.desc }}</td>
                        </tr>
                        <tr>
                            <td class="label-left">创建时间：</td>
                            <td>{{ request.project.create_datetime }}</td>
                        </tr>
                        <tr>
                            <td class="label-left">项目空间：</td>
                            <td>{{ request.project.use_space }}GB</td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading"><span class="glyphicon glyphicon-grain" aria-hidden="true"> 最新动态</span></div>
              <div class="panel-body">
                  {% for top in top_ten %}
                      <table class="table table-hover">
                      <tbody>
                          <tr>
                              <td style="font-size: 10px">{{ top.creator.username }} 指派 <a href="{% url 'editIssue' pk=request.project.id issue_id=top.id %}">#{{ top.id }}</a>   给 {{ top.assign.username }}</td>
                              <td>{{ top.create_time }}</td>
                          </tr>
                      </tbody>
                      </table>
                  {% endfor %}
              </div>
            </div>

        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="{% static 'js/jQuery3.6.0.js' %}"></script>
    <script src="{% static 'Highcharts-9.3.2/code/highcharts.js' %}"></script>
    <script>
   $(function (){
       initChart()
       Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });
   })

    function initChart() {
       var config={
            title: {
                text: null,
            },
            yAxis: {
                title: {
                    text: null,
                }
            },
           credits:{
                enabled:false,
           },
            xAxis:{
                type: 'datetime',
                visible:true,
                enabled: true,
                tickInterval:86400000,
                labels:{
                    formatter:function (){
                        return Highcharts.dateFormat('%m-%d',this.value)
                    },
                    rotation:-30,
                }
            },
           tooltip:{
                headerFormat:'<b>{point.key}</b><br/>',
               pointFormat:'<span style="color:{series.color}">\u25CF<span> 数量:{point.y}',
               xDateFormat:'%Y-%m_%d'
           },
            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 2010
                }
            },
            series: [{
                name: '问题人数',
                data: [
                ]
            }],
        }
        $.ajax({
            url:'{% url "dashboardChart" pk=request.project.id %}',
            type:'get',
            dataType:'json',
            success:function (res){
                config.series[0].data=res.series
                Highcharts.chart('charts', config);
            }
        })
   }


    let issueCountEle = $("#issue_count")
    issueCountEle.click(function (e){
        e.preventDefault()
        e.stopPropagation()
        let issueCount = issueCountEle.text()
        if (issueCount==="0" || issueCount===0){
            swal({
                  title: "暂无issue需要解决!",
                  text: "",
                })
        }else{
            let msg = "当前项目有"+issueCount+"个issue待您解决!"
            swal({"title":msg,"type":"warning","text":""})
        }
    })
    </script>
{% endblock %}