{% extends 'bases/conf.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        .settingsPwd{
            border-left: 5px solid #ffd900 !important;
        }
    </style>
{% endblock %}

{% block settingsright %}
     <div class="panel panel-warning">
      <div class="panel-heading"><span class="glyphicon glyphicon-refresh" aria-hidden="true"> 修 改 密 码</span></div>
      <div class="panel-body">
          <div class="row">
              <form id="updatePasswordForm" novalidate>
                  {% csrf_token %}
                <div class="form-group col-md-12">
                  <div class="control-label col-md-2">
                      <label class="form-control">旧密码：</label>
                  </div>
                    <div class="control-label col-md-10">
                        <input type="text" class="form-control" id="password" name="password">
                    <span style="color: red" id="errorpassword"></span>
                    </div>
              </div>

                <div class="form-group col-md-12">
                 <div class="control-label col-md-2">
                  <label class="form-control">新密码：</label>
                 </div>
                    <div class="control-label col-md-10">
                        <input type="text" class="form-control" id="new_password" name="new_password">
                        <span style="color: red" id="errornewpassword"></span>
                    </div>
                </div>
                  </form>
              <div class="form-group col-md-12">
                  <div class="col-md-6"></div>
                  <div class="col-md-6 row">
                      <div class="col-md-6">
                      </div>
                      <input type="submit" class="btn btn-danger col-md-6" id="updatePassword">
                  </div>
              </div>
          </div>
      </div>
    </div>
{% endblock %}


{% block js %}
    {% load static %}
    <script src="{% static 'js/jQuery3.6.0.js' %}"></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    <script>
        let submitBtn = $("#updatePassword")
        let updatePasswordForm = $("#updatePasswordForm")

        submitBtn.click(function (e) {
            e.preventDefault()
            e.stopPropagation()
            $.ajax({
                url:"/settingsPwd/",
                type:"post",
                data:updatePasswordForm.serialize(),
                success:function (res){
                    if (res.code===1)
                    {
                        location.href=res.url;
                    }
                    else{
                        sweetAlert(res.error,"","error")
                        $("#new_password").val("")
                    }
                }
            })
        })
    </script>
{% endblock %}