{% extends 'bases/manage.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'editor.md-master/css/editormd.min.css' %}">
    <style>
        .title-list{
            border-right: 1px solid #dddddd;
            min-height: 500px;
        }
        .panel-default .panel-heading{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .content{
            border-left: 1px solid #dddddd;
            min-height: 600px;
            margin-left: -1px;
        }
        .forms-content{
            margin-top: 10px;
        }
        .title-list ul{
            padding-left: 15px;
        }
        .title-list ul a{
            display: block;
            padding: 5px 0;
        }
    </style>
{% endblock %}

{% block content%}
    <div class="container-fluid">
        <div class="panel panel-default">
          <div class="panel-heading">
              <div>
               <span class="glyphicon glyphicon-book" aria-hidden="true" style="color: #1b6d85">　wiki文档</span>
              </div>
              <div class="function">
                  <a href="" class="btn btn-success btn-xs">
                      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"> 新建文章</span>
                  </a>
              </div>
          </div>
          <div class="panel-body">
            <div class="col-md-3 title-list">
                <ul id="catalog">
                </ul>
            </div>
              <div class="col-md-9 content">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name == 'content' %}
                            <div class="forms-content">
                            <label for="{{ field.auto_id }}">{{ field.label }}</label>
                                <div id="editor">
                                   {{ field }}
                                </div>
                            <span style="color: red">{{ field.errors.0 }}</span>
                        </div>
                        {% else %}
                            <div class="forms-content">
                            <label for="{{ field.auto_id }}">{{ field.label }}</label>
                            {{ field }}
                            <span style="color: red">{{ field.errors.0 }}</span>
                        </div>
                        {% endif %}
                    {% endfor %}
                    <br>
                  <button type="submit" class="btn btn-default pull-right">提交</button>
                </form>
              </div>
          </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="{% static 'editor.md-master/editormd.min.js' %}"></script>
    <script>
    let wiki_detail='{% url 'wiki' pk=request.project.id %}'
        $(function (){
            initcatalog();
            initmdeditor();
        });

        function initmdeditor(){
            editormd('editor',{
                placeholder:'在这编写你的文章',
                height:'700px',
                path:'{% static 'editor.md-master/lib/' %}',
                delay : 300,
                syncScrolling : "single",
                imageUpload:true,
                imageFormats:['jpg','jpeg','png'],
                imageUploadURL:'{% url 'wikiUpload' pk=request.project.id %}'
            })
        }
        function  initcatalog(){
            $.ajax({
                url:'{% url 'wikiCatalogs' pk=request.project.id %}',
                type:'get',
                dataType:'json',
                success:function (res){
                    let $catalog=$('#catalog')
                    $.each(res.info,function (index,item){
                        {# index:0 [1, 'bbs概要'     ,null]#}
                        {# index:1 [3, 'bbs业务流程图',1]#}
                        let href=wiki_detail+'?wiki_id='+item[0];
                        if(!item[2]){
                            let li=$('<li>').attr('id','id_'+item[0]).append($('<a>').text(item[1]).attr('href',href)).append($('<ul>'))
                            $catalog.append(li)
                        }else{
                            let li=$('<li>').attr('id','id_'+item[0]).append($('<a>').text(item[1]).attr('href',href)).append($('<ul>'))
                            let fid=$('#id_'+item[2])
                            $(fid).children('ul').append(li)
                        }
                    })
                }
            })
        }
    </script>
{% endblock %}